.card {
  border-radius: 4px;
  width: 18rem;
  margin: 10px;
  border-radius: 18px;
  overflow: hidden;
}
.card-link a {
 display: flex;
 align-items: center;
 justify-content: space-between;
 list-style: none;
}
.link-episode{
  text-decoration: none;
}
.card-link{
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: 0;
  text-decoration: none;
}
